@import "bulma/sass/utilities/initial-variables.sass";
@import url("https://cdnjs.cloudflare.com/ajax/libs/octicons/3.5.0/octicons.min.css");


h1 {
  font-size: $size-1;
}

h2 {
  font-size: $size-2;
}

h3 {
  font-size: $size-3;
}

h4 {
  font-size: $size-4;
}


.avatar {
    padding: 3px;
    height: auto;
    border: none;
    box-shadow: none;
}

.github-octicon {
    font: normal normal 40px octicons;
}